@import '../../scss/vars';

.breadcrumbs {
  height: 30px;
  line-height: 30px;
  color: $text-light-3;
  padding: 0 14px;
  font-size: 1rem;
  box-shadow: $shadow-1;
  z-index: 100;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: 0;
  }

  a {
    color: $text-light-2;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    line-height: 30px;
    max-width: 160px;
    @include ellip();
    vertical-align: middle;

    &:hover {
      text-decoration: none;
      color: $accent-1;
    }
  }
}
