@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

.progress {
  position: absolute;
  display: inline-block;
  top: 0px;
  height: 0;
  width: 100%;
  background-color: #1B1925;
  background-clip: padding-box;
  margin: 0;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.23, 0.54, 0.19, 0.99);
  z-index: 1000; }
  .progress .indeterminate {
    background-color: #7EAF52; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
      animation-delay: 1.15s; }
  .progress.working {
    height: 3px; }

.carousel-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 0 0 20px 0;
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.23, 0.54, 0.19, 0.99); }
  .carousel-container .carousel {
    position: absolute;
    height: 100%;
    display: flex;
    transition: left 0.4s cubic-bezier(0.23, 0.54, 0.19, 0.99); }
    .carousel-container .carousel .carousel-item {
      flex: 1;
      height: 100%;
      display: inline-block;
      margin: 0 40px;
      position: relative; }
      .carousel-container .carousel .carousel-item header {
        height: 128px; }
        .carousel-container .carousel .carousel-item header h1 {
          font-weight: normal;
          font-size: 1.5rem;
          margin: 0; }
        .carousel-container .carousel .carousel-item header .account-banner {
          height: 50px;
          margin-top: 10px;
          line-height: 50px;
          display: flex; }
          .carousel-container .carousel .carousel-item header .account-banner img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            vertical-align: middle; }
          .carousel-container .carousel .carousel-item header .account-banner .stack {
            flex: 1;
            padding: 0 10px;
            height: 100%;
            line-height: 50px; }
            .carousel-container .carousel .carousel-item header .account-banner .stack .email {
              display: inline-block;
              color: rgba(255, 255, 255, 0.75);
              width: 100%; }
          .carousel-container .carousel .carousel-item header .account-banner a {
            color: #7EAF52;
            text-decoration: none; }
          .carousel-container .carousel .carousel-item header .account-banner p {
            line-height: initial; }
      .carousel-container .carousel .carousel-item .carousel-error {
        color: #ED581E;
        display: inline-block;
        font-size: 0.9rem; }
      .carousel-container .carousel .carousel-item footer {
        text-align: right;
        position: absolute;
        bottom: 20px;
        width: 100%;
        margin: 0;
        color: rgba(255, 255, 255, 0.75); }
        .carousel-container .carousel .carousel-item footer .btn {
          margin-left: 20px; }
        .carousel-container .carousel .carousel-item footer a {
          color: #7EAF52;
          text-decoration: none; }
      .carousel-container .carousel .carousel-item .button-row {
        height: 50px;
        line-height: 50px;
        width: 100%;
        text-align: right; }
        .carousel-container .carousel .carousel-item .button-row a {
          color: #7EAF52;
          text-decoration: none;
          float: left; }
      .carousel-container .carousel .carousel-item.working {
        pointer-events: none; }
        .carousel-container .carousel .carousel-item.working .input-carousel {
          opacity: 0.5; }
        .carousel-container .carousel .carousel-item.working .progress {
          height: 4px; }
      @media screen and (max-width: 600px) {
        .carousel-container .carousel .carousel-item {
          width: 100%;
          height: 100%;
          box-shadow: none; } }

.underlined-input,
.underlined-input-readonly {
  width: 100%;
  height: 46px;
  padding: 14px 0 0 0;
  margin: 0 0 8px 0;
  line-height: 26px;
  position: relative; }
  .underlined-input input,
  .underlined-input-readonly input {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    height: 26px;
    width: 100%;
    font-size: 1rem;
    bottom: 0;
    color: white; }
    .underlined-input input + .reacts-to,
    .underlined-input-readonly input + .reacts-to {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 46px;
      pointer-events: none; }
      .underlined-input input + .reacts-to label,
      .underlined-input-readonly input + .reacts-to label {
        position: absolute;
        top: 20px;
        font-size: 0.95rem;
        color: rgba(255, 255, 255, 0.35);
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.23, 0.54, 0.19, 0.99); }
      .underlined-input input + .reacts-to .underline,
      .underlined-input-readonly input + .reacts-to .underline {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.1); }
        .underlined-input input + .reacts-to .underline:before,
        .underlined-input-readonly input + .reacts-to .underline:before {
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          width: 0;
          height: 2px;
          background: #4b6d21;
          transition: left 0.3s cubic-bezier(0.23, 0.54, 0.19, 0.99), width 0.3s cubic-bezier(0.23, 0.54, 0.19, 0.99); }
    .underlined-input input:focus + .reacts-to .underline:before,
    .underlined-input input:active + .reacts-to .underline:before,
    .underlined-input-readonly input:focus + .reacts-to .underline:before,
    .underlined-input-readonly input:active + .reacts-to .underline:before {
      width: 100%;
      left: 0; }
    .underlined-input input:focus + .reacts-to label,
    .underlined-input input:active + .reacts-to label,
    .underlined-input input.has-content + .reacts-to label,
    .underlined-input-readonly input:focus + .reacts-to label,
    .underlined-input-readonly input:active + .reacts-to label,
    .underlined-input-readonly input.has-content + .reacts-to label {
      top: 0;
      font-size: 0.7rem;
      line-height: 14px;
      color: rgba(255, 255, 255, 0.75); }
    .underlined-input input.invalid,
    .underlined-input-readonly input.invalid {
      color: #ED581E; }
    .underlined-input input.invalid:focus + .reacts-to label,
    .underlined-input input.invalid:active + .reacts-to label,
    .underlined-input input.invalid.has-content + .reacts-to label,
    .underlined-input-readonly input.invalid:focus + .reacts-to label,
    .underlined-input-readonly input.invalid:active + .reacts-to label,
    .underlined-input-readonly input.invalid.has-content + .reacts-to label {
      color: #ED581E; }
    .underlined-input input.invalid + .reacts-to .underline:before,
    .underlined-input-readonly input.invalid + .reacts-to .underline:before {
      background: #ED581E; }
  .underlined-input + .underlined-input,
  .underlined-input + .underlined-input-readonly,
  .underlined-input-readonly + .underlined-input,
  .underlined-input-readonly + .underlined-input-readonly {
    margin-top: 8px; }

html,
body,
#root,
.root-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #151219;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden; }

main {
  overflow: hidden;
  overflow-y: auto;
  position: relative; }

.hidden {
  display: none; }

::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.1); }

::-webkit-scrollbar-thumb {
  width: 8px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 4px; }

::selection {
  color: white;
  background: #7EAF52; }

* {
  box-sizing: border-box !important; }

h1 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

.flex-container {
  display: flex; }
  .flex-container.flex-center {
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .flex-container.flex-horizintal {
    flex-direction: row; }
  .flex-container.flex-vertical {
    flex-direction: column; }
  .flex-container.flex-fill {
    width: 100%; }
  .flex-container .flex {
    display: inline-block;
    flex: 1; }
    .flex-container .flex.flex-container {
      display: inline-flex; }
  .flex-container .flex-none {
    display: inline-block;
    flex: none; }

.btn {
  position: relative;
  height: 36px;
  padding: 0 20px;
  background: #7EAF52;
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  transition: box-shadow .15s ease-in-out;
  cursor: pointer;
  user-select: none; }
  .btn:focus {
    outline: initial; }
  .btn:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .btn:active {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
  .btn:disabled {
    background: rgba(0, 0, 0, 0.07);
    color: rgba(0, 0, 0, 0.38);
    pointer-events: none; }
  .btn.btn-with-icon {
    padding: 0 20px 0 0; }
    .btn.btn-with-icon i {
      font-size: 1.5em;
      height: 30px;
      width: 30px;
      vertical-align: middle;
      margin: 0 10px; }
  .btn.btn-clear {
    background: transparent;
    color: #7EAF52;
    box-shadow: none;
    border: transparent; }
    .btn.btn-clear:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
  .btn + .btn {
    margin-left: 6px; }

#root:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background: #29263A;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  z-index: 0; }

.logo {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 14px;
  line-height: 60px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.35);
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 2px;
  pointer-events: none; }

.window {
  position: relative;
  height: 500px;
  width: 450px;
  background: #1B1925;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  z-index: 1;
  padding: 40px 0;
  overflow: hidden;
  border-radius: 3px; }
  .window:before {
    opacity: 0;
    z-index: 2;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 4px;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.2s opacity cubic-bezier(0.23, 0.54, 0.19, 0.99);
    pointer-events: none; }
  .window h1 {
    color: rgba(255, 255, 255, 0.75); }
  .window.working > .progress {
    top: 0;
    height: 4px; }
  .window.working:before {
    opacity: 1;
    pointer-events: initial; }

